[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"
ipython = "*"
bpython = "*"
werkzeug = "*"

[packages]
django = "*"
django-allauth = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.6"
